
.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo {
  width: 290px;
  height: 110px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 284px;
  align-content: center;
}

.textoheader-peque {
  margin-bottom: 45px;
}

.botonabajo {
  height: 45px;
  width: 45px;
  background-color: $color-white;
  background-image: url(../images/ico-scroll-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 22.5px;
}
