
.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.titulo {
  width: 290px;
  height: 110px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 284px;
  align-content: center;
}

@media (min-width: 768px) {
  .titulo {
    width: 690px;
    height: 212px;
  }
}

@media (min-width: 1200px) {
  .titulo {
    width: 730px;
    height: 264px;
  }
}

.textoheader-peque {
  margin-bottom: 45px;
}

@media (min-width: 768px) {
  .textoheader-peque {
    margin-bottom: 120px;
  }
}

.botonabajo {
  height: 45px;
  width: 45px;
  background-color: $color-white;
  background-image: url(../images/ico-scroll-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 22.5px;
}
