.titulo {
  margin: 0px;
}
.botonabajo {
  height: 45px;
  width: 45px;
  background-color: $color-white;
  background-image:url(../images/ico-scroll-down.svg);
  background-repeat:no-repeat;
  background-position: center;
  border-radius: 22.5px;
}
