body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.insomnia-tips {
  padding-left: 15px;
  padding-right: 15px;
}

.mini-insomnia {
  margin-top: 30px;
  margin-bottom: 0;
}

.insomnia {
  margin: none;
}

.para-insomnia {
  margin-right: 0;
}

.purchase {
  margin-bottom: 45px;
}

.title-reasons {
  margin-top: 0;
}

.para-reasons {
  margin-bottom: 45px;
}
