body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.insomnia-tips {
  padding-left: 15px;
  padding-right: 15px;
}

@media all and (min-width: 768px) {
  .insomnia-tips {
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media all and (min-width: 1280px) {
  .insomnia-tips {
    padding-left: 275px;
    padding-right: 275px;
  }
}

.mini-insomnia {
  margin-top: 30px;
  margin-bottom: 0;
}

.insomnia {
  margin: none;
}

.para-insomnia {
  margin-right: 0;
}

.reasons-purchase {
  background-color: $color-blueback;
  text-align: center;
}

@media all and (min-width: 768px) {
  .reasons-purchase {
    padding-left: 35.7px;
    padding-right: 40px;
    padding-top: 30px;
  }
}

@media all and (min-width: 1280px) {
  .reasons-purchase {
    padding-left: 81.2px;
    padding-right: 85px;
    padding-top: 60px;
  }
}

.purchase {
  margin-bottom: 45px;
}

.title-reasons {
  margin-top: 0;
}

.para-reasons {
  margin-bottom: 45px;
}
