.titulo {
  color: $color-white;
  font-family: $font-slab;
  font-size: $font-size-xl;
  font-weight: bold;
}

@media all and (min-width: 768px) {
  .titulo {
    font-size: $font-size-title;
  }
}

@media all and (min-width: 1280px) {
  .titulo {
    font-size: $font-size-huge;
  }
}

.textoheader-peque {
  color: $color-white;
  font-family: $font-roboto;
  font-size: $font-size-s;
}

@media all and (min-width: 768px) {
  .textoheader-peque {
    font-size: $font-size-l;
  }
}

@media all and (min-width: 1280px) {
  .textoheader-peque {
    font-size: $font-size-textlg;
  }
}

.mini-insomnia {
  color: $color-light-blue;
  font-family: $font-roboto;
  font-size: $font-size-xs;
}

.title-main {
  color: $color-black;
  font-family: $font-slab;
  font-size: $font-size-l;
}

@media all and (min-width: 768px) {
  .title-main {
    font-size: $font-size-minititle;
  }
}

@media all and (min-width: 1280px) {
  .title-main {
    font-size: $font-size-textlg;
  }
}

.para-insomnia {
  color: $color-parrafos;
  font-family: $font-roboto;
  font-size: $font-size-m;
}

@media all and (min-width: 768px) {
  .para-insomnia {
    font-size: $font-size-textm;
  }
}

.title-reasons {
  color: $color-black;
  font-family: $font-slab;
  font-size: $font-size-m;
}

@media all and (min-width: 768px) {
  .title-reasons {
    font-size: $font-size-l;
  }
}

.para-reasons {
  color: $color-black;
  font-family: $font-roboto;
  font-size: $font-size-m;
}

@media all and (min-width: 768px) {
  .para-reasons {
    font-size: $font-size-textm;
  }
}

.footer-elements {
  color: $color-white;
  font-family: $font-roboto;
  font-size: $font-size-xs;
}

.heart {
  color: $color-orange;
}
