.titulo {
  color: $color-white;
  font-family: $font-slab;
  font-size: $font-size-xl;
  font-weight: bold;
}

.textoheader-peque {
  color: $color-white;
  font-family: $font-roboto;
  font-size: $font-size-s;
}

.mini-insomnia {
  color: $color-light-blue;
  font-family: $font-roboto;
  font-size: 15px;
}

.title-main {
  color: $color-black;
  font-family: $font-slab;
  font-size: $font-size-l;
}

.para-insomnia {
  color: $color-parrafos;
  font-family: $font-roboto;
  font-size: $font-size-m;
}

.title-reasons {
  color: $color-black;
  font-family: $font-slab;
  font-size: $font-size-m;
}

.para-reasons {
  color: $color-black;
  font-family: $font-roboto;
  font-size: $font-size-m;
}

.footer-elements {
  color: $color-white;
  font-family: $font-roboto;
  font-size: $font-size-xs;
}

.heart {
  color: $color-orange;
}
