@charset "UTF-8";/* colores principales de la página *//* colores letras *//* fuentes de la página *//* tamaños de fuentes */.titulo {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  font-weight: bold;
}

.textoheader-peque {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.mini-insomnia {
  color: #8ccbea;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.title-main {
  color: #000;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
}

.para-insomnia {
  color: #4a4a4a;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.title-reasons {
  color: #000;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}

.para-reasons {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.footer-elements {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.heart {
  color: #f26002;
}

.hamburguesa {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  background-image: url(../images/ico-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  position: fixed;
  z-index: 1;
  margin-top: 0;
  margin-left: 0;
}

.boton-go {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
  background-color: #fff;
  color: #f26002;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 2.25;
  font-weight: bold;
  margin-bottom: 45px;
}

.boton-go:hover {
  -webkit-transition: color ease 1s, border-color ease 1s;
  transition: color ease 1s, border-color ease 1s;
  color: #0271bc;
  border-color: #0271bc;
}

.reasons {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  border-style: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto 60px;
}

.reasons:hover {
  -webkit-transition: background-color ease 1s;
  transition: background-color ease 1s;
  background-color: #0271bc;
}

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.titulo {
  width: 290px;
  height: 110px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 284px;
  -ms-flex-line-pack: center;
  align-content: center;
}

.textoheader-peque {
  margin-bottom: 45px;
}

.botonabajo {
  height: 45px;
  width: 45px;
  background-color: #fff;
  background-image: url(../images/ico-scroll-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 22.5px;
}

.header-text {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.insomnia-tips {
  padding-left: 15px;
  padding-right: 15px;
}

.mini-insomnia {
  margin-top: 30px;
  margin-bottom: 0;
}

.insomnia {
  margin: none;
}

.para-insomnia {
  margin-right: 0;
}

.purchase {
  margin-bottom: 45px;
}

.title-reasons {
  margin-top: 0;
}

.para-reasons {
  margin-bottom: 45px;
}

.reasons-purchase {
  background-color: #eff9ff;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0 70px;
}

.footer {
  background-color: #304268;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.botonarriba {
  width: 45px;
  height: 45px;
  background-color: #fff;
  background-image: url(../images/ico-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 22.5px;
  position: relative;
  top: -22.5px;
}

.footer-elements {
  margin-bottom: 30px;
}

/*# sourceMappingURL=main.css.map */
